.tab-list {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  list-style: none;
}

.tab-list > * {
  margin: 0.5rem;
}

.tab-list label {
  display: block;
  width: max-content;
  padding: 0.8rem;
  border-radius: var(--border-ra);
  font-size: 1.2rem;
  font-weight: 600;
}

.tab-group {
  background-color: var(--bg);
  border-radius: var(--border-ra);
  padding: 1rem 0.3rem;
  min-width: 20rem;
}

.tab-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-ra);
  padding: 3px 5px;
  width: 21rem;
  cursor: pointer;
  background-color: var(--bg);
}

.tab-item.close {
  color: var(--color-light);
}

.tab-item:hover {
  filter: brightness(0.9);
}

.tab-item:active {
  filter: brightness(0.7);
  transform: translateY(2px);
}

.tab-item > * {
  margin: 0.8rem 0.2rem;
}

.tab-item img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}

.tab-item .title {
  width: 60%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tab-item button {
  background: none;
  border: none;
  padding: 0;
}

.tab-item .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
}

.tab-item svg {
  fill: var(--color);
  cursor: pointer;
}

.tab-item a {
  display: block;
}

.tab-item .empty-img {
  width: 20px;
  height: 20px;
  background-color: var(--bg-dark);
  border-radius: var(--border-ra-lg);
}

.searchbar {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.8rem;
  border-radius: var(--border-ra);
  background-color: var(--bg-dark);
}
